page-home {
input{
     margin-right:100px;
      height:80px;
     width:325px;
     border-radius:5px;
   }
  
  
  button{
   
     margin-top:5px;
     height:70px;
     width:78px;
     background-color: #4d79ff;
     border-radius:5px;}

  #reset{width:325px;}

}

